*.pdf

# Файл с локальными настройками (создается из .env.example)
.env

# Служебные каталоги и файлы
# Временный файл со списком файлов для частичной загрузки
*_load_list.txt
# Файл со списком измененных файлов конфигурации (создается при выгрузке)
config_changes.txt
# Файл со списком объектов для частичной выгрузки
dump_objects.txt

# Временный файл для частичной выгрузки
partial_dump_list.txt